<?xml version="1.0" encoding="utf-8"?>
<DH>
  <Acquisition key="1">
    <menu id="setupfiles" key="6">
      <group>
        <tab id="newsetup" key="7" tipTitle="17001" tipContent="17002" tipType="2" image="fileNewSetup.png" />
      </group>
	  <group>
		<tab id="importHeatFlow" key="16143" tipTitle="16144" tipContent="16145" tipType="2" image="fileNewSetup.png" />
	  </group>
      <group>
        <tab id="load" key="10" tipTitle="17003" tipContent="17004" tipType="2"  canUnable="1"  image="fileLoad.png" />
        <tab id="rename" key="12"  tipTitle="17005" tipContent="17006" tipType="2"  canUnable="1"  image="fileRename.png" />
        <tab id="delete" key="13"  tipTitle="17007" tipContent="17008" tipType="2"  canUnable="1"  image="fileDelete.png" />
      </group>
      <group>
        <tab id="copy" key="14"  tipTitle="17009" tipContent="17010" tipType="2"  canUnable="1"  image="fileCopy.png" />
        <tab id="cut" key="15"  tipTitle="17011" tipContent="17012" tipType="2"  canUnable="1"  image="fileCut.png" />
        <tab id="paste" key="16"  tipTitle="17013" tipContent="17014" tipType="2"  canUnable="1"  image="filePaste.png" />
      </group>
    </menu>
	<menu id="storing" key="22">
		<group>
			<tab id="save" key="19"   tipTitle="17063" tipContent="17064" tipType="2"  image="setupSave.png" />
			<tab id="saveas"  key="20" tipTitle="17065" tipContent="17066" tipType="2"  image="setupSaveAs.png" />
		</group>
	</menu>
    <menu id="chsetup" key="17">
	  <group>
		 <tab id="save" key="19"   tipTitle="17063" tipContent="17064" tipType="2"  image="setupSave.png" />
		 <tab id="saveas"  key="20" tipTitle="17065" tipContent="17066" tipType="2"  image="setupSaveAs.png" />
	  </group>
      <group id="hardware">
      </group>
      <group id="math">
      </group>
    </menu>
    <menu id="measure" key="29">
      <group>
        <tab id="store" canUnable="1"  name="measureStore" key="701"  tipTitle="17026" tipContent="17027" tipType="2"   image="measureStore.png" />
        <tab id="pause" canUnable="1"  name="measurePause" key="702"  tipTitle="17028" tipContent="17029" tipType="2"   image="measurePause.png" />
		<tab id="rebackData" name="measurerebackData" key="27220"  tipTitle="27221" tipContent="27222" tipType="2"   image="measureRebackData.png" />
		<tab id="oneKeyStore" canUnable="1"  name="measureoneKeyStore" key="741"  tipTitle="742" tipContent="743" tipType="2"   image="measureoneKeyStore.png" />
        <tab id="trigger" canUnable="1"  name="measureTrigger" key="718"  tipTitle="17030" tipContent="17031" tipType="2"   image="measureTrigger.png" />
        <tab id="stop" canUnable="1"  name="measureStop" key="703"  tipTitle="17032" tipContent="17033" tipType="2"   image="measureStop.png" />
        <tab id="freeze" name="measureFreeze" key="704"  tipTitle="17034" tipContent="17035" tipType="2"   image="measureFreeze.PNG" />
      </group>
      <group id="mcustom">
        <tab id="recorder" key="305" IsShow="true" image="measureRecorder.png" />
        <tab id="fft" key="306" IsShow="true" image="measureFFTlayout.png" />
        <tab id="spectrum" key="311" IsShow="true" image="MeasureSpectrumLay.png" />
        <!--tab id="cable" key="312" IsShow="true" image="MeasureCableLay.png" /-->
        <tab id="custom" key="707" IsShow="true" image="measureCustom.png" />
      </group>
    </menu>
    <menu id="design" key="35">
      <group>
        <tab id="deleteall" key="307"  tipTitle="17105" tipContent="17106" tipType="2"   image="designDeleteAll.png" />
        <tab id="delete" key="13"  tipTitle="17107" tipContent="17108" tipType="2"   image="designDeleteOne.png" />
        <tab id="revert" key="714"  tipTitle="17109" tipContent="17110" tipType="2"   image="designRevert.png" />
      </group>
      <group>
        <tab id="Horizontal" key="716"  tipTitle="17111" tipContent="17112" tipType="2"   image="designHorizontal.png" />
        <tab id="Vertical" key="717"  tipTitle="17113" tipContent="17114" tipType="2"   image="designVertical.png" />
      </group>
    </menu>
  </Acquisition>
  <Analysis id="analysis" key="2">
    <menu id="datafiles" key="39">
      <group>
        <tab id="load" key="17041"  tipTitle="17041" tipContent="17042" tipType="2"   canUnable="1"  image="fileLoad.png" />
        <tab id="rename" key="12"  tipTitle="17043" tipContent="17044" tipType="2"   canUnable="1"  image="fileRename.png" />
        <tab id="delete" key="13"  tipTitle="17045" tipContent="17046" tipType="2"   canUnable="1"  image="fileDelete.png" />
      </group>
    </menu>
    <menu id="setup" key="53">
      <group>
        <tab id="channels" key="54" image="setupAnalog.png" />
        <tab id="events" key="55"  tipTitle="17053" tipContent="17054" tipType="2"  image="AnalysisEvent.png" />
      </group>
      <group id="An_math">
      </group>
    </menu>
    <menu id="review" key="64">
      <group>
        <tab id="playback"  tipTitle="17055" tipContent="17056" tipType="2"  canUnable="1" key="34" image="measureStart.png" />
        <tab id="turnleft"  tipTitle="17137" tipContent="17138" tipType="2"   canUnable="1" key="313" image="AnalysisTurnLeft.png" />
        <tab id="showlabel" key="302" image="logo.png" />
        <tab id="turnright"  tipTitle="17135" tipContent="17136" tipType="2"   canUnable="1" key="301" image="AnalysisTurnRight.png" />
        <tab id="playbackstop"  tipTitle="17057" tipContent="17058" tipType="2"  canUnable="1" key="30" image="measureStop.png" />
      </group>
      <group>
        <tab id="handcalc"  tipTitle="17059" tipContent="17060" tipType="2"  canUnable="1" key="304"  image="AnalysisHandcalc.png" />
        <tab id="autocalc"  tipTitle="17061" tipContent="17062" tipType="2"  canUnable="1" key="303" image="AnalysisAutocalc.png" />
      </group>
      <group id="ancustom">
        <tab id="recorder" key="305" IsShow="true" image="measureRecorder.png" />
        <tab id="fft" key="306" IsShow="true" image="measureFFTlayout.png" />
        <tab id="spectrum" key="311" IsShow="true" image="MeasureSpectrumLay.png" />
        <!--tab id="cable" key="312" IsShow="true" image="MeasureCableLay.png" /-->
        <tab id="custom" key="707" IsShow="true" image="measureCustom.png" />
      </group>
    </menu>
    <menu id="andesign" key="35">
      <group>
		  <tab id="deleteall" key="307"  tipTitle="17105" tipContent="17106" tipType="2"  image="designDeleteAll.png" />
		  <tab id="delete" key="13"  tipTitle="17107" tipContent="17108" tipType="2" image="designDelete.png" />
		  <tab id="revert" key="714"  tipTitle="17109" tipContent="17110" tipType="2" image="designRevert.png" />
      </group>
      <group>
        <tab id="Horizontal" key="716"  tipTitle="17111" tipContent="17112" tipType="2"   image="designHorizontal.png" />
        <tab id="Vertical" key="717"  tipTitle="17113" tipContent="17114" tipType="2"   image="designVertical.png" />
      </group>
    </menu>
    <menu id="print" key="72">
      <!--<group>
        <tab id="portrait" key="74" image="printVertical.png" />
        <tab id="landscape" key="75" image="printHorizontal.png" />
      </group>-->
      <group id="An_printSetup">
      </group>
      <group id="An_printTitle">
      </group>
      <group id="An_printMargin">
      </group>
      <group>
        <tab id="print" key="76" image="print.png" />
      </group>
    </menu>
    <menu id="export" key="77">
      <group>
        <tab id="msexcel" key="78"  tipTitle="17089" tipContent="17090" tipType="3"  image="outputExcel.png" />
        <tab id="matlab" key="79"  tipTitle="17091" tipContent="17092" tipType="3"  image="outputMatlab.png" />
        <tab id="txt" key="80"  tipTitle="17093" tipContent="17094" tipType="3"  image="outputTxt.png" />
        <tab id="uff" key="73"   tipTitle="17095" tipContent="17096" tipType="3" image="outputUff.png" />
		<tab id="access" key="277"  tipTitle="17133" tipContent="17134" tipType="3"  image="outputAccess.png" />
      </group>
      <group>
        <tab id="word" key="81"   tipTitle="17097" tipContent="17098" tipType="3" image="outputWord.png" />
        <tab id="bmp" key="82"  tipTitle="17099" tipContent="17100" tipType="3"  image="outputBmp.png" />
      </group>
      <group>
        <tab id="dhsoft" key="83"   tipTitle="40704" tipContent="17102" tipType="3" image="logo.png" />
		<tab id="report" key="20001"   tipTitle="20002" tipContent="20003" tipType="3" image="report.png" />
      </group>
      <group>
        <tab id="output" key="84"  tipTitle="17103" tipContent="17104" tipType="3"  image="output.png" />
      </group>
    </menu>
  </Analysis>
  <ModelAnalysis id="modelAnalysis" key="19001">
    <menu id="projectManage" key="19002" />
    <menu id="model" key="19003" />
    <menu id="data" key="19004" />
    <menu id="polyLSCF" key="19005" />
    <menu id="shakeType" key="19006" />
    <menu id="modelValidation" key="19007" />
  </ModelAnalysis>
</DH>